body {
	font-family: "Helvetica";
	background: url("google-analytics-photo.jpg");
    background-size: cover;
    background-position: center; 
}

div {
	width: 250px;
	background: rgba(255,255,255,0.65);
	padding: 25px;
	border-radius: 10px;
	display: inline-block;
	margin: 10px;
	text-align: left;
	vertical-align: top;
	font-size: 14px;
	}

h1 {
	color: rgb(93,49,24);
}

input { width: 50%; }