@import "scss/all";

// Variables: colour theme
$bg-color: white;
$charcoal: #36454f;
$red: #FE334D;
$gray: #7A96A4;
$blue: #1D6AF1;
$yellow: #FFD500;
$green: #13BC2F;
$silver: rgb(240,240,240);

// Base Styles 
html {
	font-family: Arial; 
	color: $charcoal;
}

body {
	background: url('google-analytics.jpg');
	background-size: cover;
}

h1 { 
	font-size: 2em;
	text-shadow: 2px 2px $yellow;
	@include mq(medium) {
		font-size: 2.5em;
	}
	@include mq(large) {
		font-size: 2.5em;
	}
}

header h1 { color: $green; }
header h1 span { color: $blue; }
header i { color: $charcoal; }

h2 {
	font-size: 1.5em;
	color: $gray;
	margin-top: 1em;
	text-shadow: 2px 2px $silver;
}
h6 { font-size: 0.8em; }

p {
	margin: 0.5em 0;
}

main, header, footer {
	padding: 0.5em;
}

a, a:visited, a:active { color: $blue; }
a:hover { text-decoration: none; }

// Sections

footer { 
	background: $silver; 
	border-radius: 5px;
	padding: 0.5em;
	margin: 1em 0.5em;
}

.container { 
	max-width: 420px; 
	margin: 2em auto;
	background: $bg-color;
	padding: 1em;
	border-radius: 5px;
}

#intro { 
	background: $silver;
	color: black;
	padding: 0.5em 1em;
	border-radius: 5px;
}

#spinner {
	padding: 1em;
}

#clear-form {
	text-align: center;
	padding-right: 1em;
}

#clear-form a, #clear-form a:visited { padding-left: 1em; }

.fa {
	padding-right: 0.5em;
}

// Buttons
button { 
	background: $blue;
	color: white;
	border: 0;
	border-bottom: solid 3px $gray; 
	border-radius: 5px;
	padding: 1em;
	width: 100%;
	margin-right: 1em;
}

button a {
	color: white;
	text-decoration: none;
}

button:hover { 
	border-bottom-color: $green; 
}

// Form Elements
$form-width: 420px;

form {
	max-width: 420px;
	margin: 1em auto;
}

label, input[type=text] {
	display: inline-block;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

label {
	width: 40%; 
	color: white;
	background: $gray;
	border-radius: 5px 0 0 5px;
}
 
input[type=text] {
	border: 0;
	width: 60%;
	color: $charcoal;
	font-weight: lighter;
	background: $silver;
	border-radius: 0 5px 5px 0;
}

input[type=text]:focus {
	background: $yellow;
}

div#loading {
	padding: 0.5em;
	text-align: center;
	color: $gray;
	//border: solid 2px $gray;
	border-radius: 5px;
	background: $silver;
}

#spinner {
	padding: 0;
	margin: 0;
}
// User Interface
#btn-authorize, #btn-get-data, #loading, #csv-link {
	display: none;
} 